html, body {
  height: 100%;
  width: 100%;
  color: #777;
}

.fileHandler {
  width: 100%;
  text-align: center;
}

.fileHandler-dragOver {
  color: #92AAB0;
}

.is-hidden {
  display: none;
}

#js-video {
  margin: auto;
  width: 100%;
}

#usernameInput {
  float: right;
  border: none;
  font-size: 1.3em;
  outline: none;
  text-align: right;
}

h1.text-muted {
  font-size: 1.7em;
}

h1.text-muted:hover .grow {
  transform: scale(1.5);
}

.hidden-link {
  color: inherit;
  text-decoration: inherit;
}

.hidden-link:hover {
  color: inherit;
  text-decoration: inherit;
}

.heart {
 /* cursor: grab;
  cursor: -webkit-grab;*/
  color: pink;
}

.grow {
  transition: all .2s ease-in-out;
}

.animate-grow {
  transform: scale(1.5);
}

.heart:hover {
  transform: scale(1.5);
}

.room-row {
  cursor: pointer;
}

.main-header {
  background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #f4f4f4, #f4f4f4 50%, #ffffff 50%, #ffffff) repeat scroll 0 0 / 100% 20px;
  color: #777;
  height: 100%;
  min-height: 450px;
  text-align: center;
  width: 100%;
}

.main-header-content {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  transform-style: preserve-3d;
}

.main-header-text {
  font-size: 41px;
  margin-bottom: 60px;
}

.main-header-btn {
  background-color: #777;
  border: 1px solid #777;
  color: white;
  font-size: 22px;
  padding: 15px 20px 16px;
}

.main-header-btn:hover {
  color: pink;
  background-color: #585858;
  border: 1px solid #585858;
}

.main-header-title {
  font-size: 60px;
}

.main-header-title .heart {
  font-size: 80px;
}
