body {
  color: #777;
}

.fileHandler {
  width: 100%;
  text-align: center;
}

.fileHandler-dragOver {
  color: #92AAB0;
}

.is-hidden {
  display: none;
}

#video-container {
  position: relative;
}

#js-video {
  margin: auto;
  width: 100%;
}

#usernameInput {
  float: right;
  border: none;
  font-size: 1.3em;
  outline: none;
  text-align: right;
}

.heart {
 /* cursor: grab;
  cursor: -webkit-grab;*/
  color: pink;
}

.grow {
  transition: all .2s ease-in-out;
}

.grow:hover {
  transform: scale(1.5);
}

.animate-grow {
  transform: scale(1.5);
}

/* hide full screen controls */
video::-webkit-media-controls-enclosure {
  display:none !important;
}

#video-controls {
  z-index: 2147483647;
  position: absolute;
  bottom: 5px;
  left: 15px;
  padding: 15px;
  padding-left: 0;
  width: 100%;
  background: black;
  opacity: 0.5;
  color: white;
}

#video-controls div input {
  height: 30px;
}

#video-controls div input {
  vertical-align: middle;
}

#video-controls div button {
  border-radius: 20px;
}